p {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}
.one {
  font-weight: bold;
  background-color: gray;
  color: black;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  position: relative;
  display: inline-block;
}